{% extends 'base.html.twig' %}

{% block title %}Simple Question{% endblock %}

{% block body %}
<div class="container">
    <hgroup>
        <h1 class="title">Sphinx riddle</h1>
        <p>The most simpliest question in the world</p>
    </hgroup>

    <blockquote>
        The Sphinx, posted on the ramparts of Thebes, poses a riddle whispered to him 
        by the Muses to all travellers who appear before him. Unfortunately, none can solve it, 
        and all are devoured by the monster. He also destroys crops.
    </blockquote>

    <form method="post">
        <label for="text">
            What kind of being, with a single voice, 
            has four legs in the morning, two legs at noon, and three legs at night?
        </label>
        <input type="text" placeholder="Your answer" autocomplete="text" required>
        <small>
            Can you answer correctly the Sphinx riddle?
        </small>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

<footer>
    Created by a Guardia Cybersecurity School student
</footer>
{% endblock %}
